p {
	color: #ff0;
	font-size: 16px;
}

/* Long Hand */
p {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

/* Short Hand */
p {
	padding: 10px 20px;
}

/* Short Hand */
p {
	padding: 10px;
}


	